<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.debezium.connectors.mysql">
    <properties>
        <property name="jboss.api" value="UNSUPPORTED"/>
        <!-- These properties are default to be used for all MySQL WildFly connectors -->
        <property name="connector.class" value="io.debezium.connector.mysql.MySqlConnector"/>
        <property name="database.history" value="io.debezium.relational.history.FileDatabaseHistory"/>
    </properties>
    
    <resources>
        <artifact name="${io.debezium:debezium-connector-mysql}"/>
        <artifact name="${com.github.shyiko:mysql-binlog-connector-java}"/>
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="sun.jdk" optional="true"/>           
        <module name="org.slf4j"/>
        <module name="org.apache.kafka.connect-api"/>
        <module name="org.apache.kafka.connect-json"/>
        <module name="org.apache.kafka.connect-runtime"/>  
        <module name="org.apache.kafka.kafka-clients"/>              
        <module name="io.debezium.core"/>
        <module name="com.mysql"/>
    </dependencies>
</module>
