<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="io.debezium.subsystem">
    <properties>
        <property name="jboss.api" value="UNSUPPORTED" />
    </properties>

    <resources>
        <artifact name="${io.debezium:wildfly-subsystem}" />
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="javax.resource.api" />
        <module name="sun.jdk" optional="true" />
        <module name="org.jboss.logging" />
        <module name="org.jboss.modules" />
        <module name="org.jboss.msc" />
        <module name="org.jboss.vfs" />
        <module name="org.jboss.as.server" />
        <module name="org.jboss.as.controller" />
        <module name="org.jboss.staxmapper" />
        <module name="org.jboss.as.naming" />
        <module name="org.wildfly.clustering.service"/>
        <module name="org.wildfly.clustering.singleton"/>         
        <module name="javax.xml.bind.api" />
        <module name="io.debezium.core" />        
        <module name="org.apache.kafka.connect-json" />
        <module name="org.apache.kafka.connect-api" />
        <module name="org.apache.kafka.connect-runtime"/>        
        <module name="org.slf4j"/>
    </dependencies>
</module>
